{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block bg-content %}
    <!-- container -->
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-register' action="/sign/register/" method="post">
                {% csrf_token %}

                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}

                <h2 class="text-center">Welcome to Join ZingPay!</h2>
                <div class="form-group">
                    <label for="id_username">Username: </label>
                    <input type="text" name='username' class="form-control" id="id_username" placeholder="Username"
                           autofocus required>
                </div>
                <div class="form-group">
                    <label for="id_first_name">First name: </label>
                    <input type="text" name='first_name' class="form-control" id="id_first_name"
                           placeholder="First name"
                           autofocus required>
                </div>
                <div class="form-group">
                    <label for="id_last_name">Last name: </label>
                    <input type="text" name='last_name' class="form-control" id="id_last_name" placeholder="Last name"
                           autofocus required>
                </div>
                <div class="form-group">
                    <label for="id_email">Email: </label>
                    <input type="email" name='email' class="form-control" id="id_email" placeholder="Email"
                           autofocus required>
                </div>
                <div class="form-group">
                    <label for="id_password">Password: </label>
                    <input type="password" name='password' class="form-control" id="id_password" placeholder="Password"
                           required>
                </div>
                <div class="form-group">
                    <label for="id_confirmed_password">Confirm Password: </label>
                    <input type="password" name='confirmed_password' class="form-control" id="id_confirmed_password"
                           placeholder="Password"
                           required>
                </div>
                <div class="form-group">
                    <label for="id_currency">Choose your currency: </label>
                    <select class="form-select" name="currency">
                        <option value='GBP'>GBP</option>
                        <option value='EUR'>EUR</option>
                        <option value='USD'>USD</option>
                    </select>
                    <br>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}